---
layout: default
---

<!-- The background image is img/bg.jpg -->
<!-- See .header-container in css/main.css how the jumbotron is formatted -->
<div class="header-container jumbotron">
    <div class="container">
        <h1>National Aeromodelling and Aviators Society</h1>
        <p>Willie Emmett Airfield, Namadgi National Park, ACT, Australia</p>
    </div>
</div>

{% include classify-event-announcements.html %}

<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h2 style="color: red">
	<strong>
	  Friday, 18 January 2019 - 
	  Total Fire Ban in the ACT - No Flying at NAAS
	</strong>
      </h2>
      <strong style="color: red">See <a href="http://esa.act.gov.au/category/alerts/">here</a> for more information</strong>
    </div>
  </div>
  <div class="row">
      <div class="col-md-7">
      <h2 class="header-light regular-pad">Welcome</h2>
      <blockquote>
        <p>The <em>National Aeromodelling and Aviators Society</em> (NAAS)
	  promotes all aspects of building and flying model aircraft.
	</p>
	
	<p> We frequently host flying events
	  at out field located in the Namadgi National Park.</p>
	
	<p>We welcome interested visitors from the public and guest
	  fliers from other clubs. We usually fly on weekends and
	  public holidays.</p>
      </blockquote>

      {% if next-event-post %}
      <div class="well well-sm">
	<h4 class="text-center">Next Event: <a href="{{ next-event-post.url }}">{{ next-event-post.title }}
	    on {{ next-event-post.date | date_to_string | date: "%b %-d, %Y"  }}</a></h4>
      </div>
      {% endif %}

      {% if site.posts != empty %}
      <div class="recent-posts">
	<h4>RECENT NEWS</h4>
	<ul class="post-list-container">
	  {% for post in site.posts limit: 3 %}
	  <li>
	    <span>
	      <a href="{{ post.url }}">{{ post.title }}</a>
	      <time><small>
		  {{ post.date | date_to_string | date: "%b %-d, %Y"  }}
		</small>
	      </time>
	    </span>
	  </li>
	  {% endfor %}
	</ul>
	<ul>
	  <a href="{% link news.html %}"><em>View More...</em></a>
	</ul>
      </div>
      {% endif %}

      <script type="text/javascript" src="https://www.stat-counter.org/count/1dpx"></script><br>
      <a href='http://www.counter-zaehler.de'>Website Besucherzähler</a> <script type='text/javascript' src='https://whomania.com/ctr?id=7651fe1282ca017b98e0e5a20c3f9443a863b129'></script>

      <script>var clicky_site_ids = clicky_site_ids || []; clicky_site_ids.push(101155811);</script>
<script async src="//static.getclicky.com/js"></script>


    </div>
    <div class="col-md-5">
      <!-- Next event - first we try to see if there is a poster -->
      {% if next-event-post.flyer %}
      <a href="{{ next-event-post.url }}">
      <img src="{{ next-event-post.flyer }}" alt="Flyer"
	   class="img-responsive">
      </a>
      {% else %}
      <img src="assets/home-default-hero-right.jpg" alt="" class="img-responsive">
      {% endif %}

    </div>
  </div>
</div>
