---
layout: empty
---
<html>
  <head>
    {% include classify-event-announcements.html %}
    {% if next-event-post %}
    <meta http-equiv="Refresh" content="0; url={{ next-event-post.url }}">
    {% else %}
    {% include head.html %}
  {% endif %}
  </head>

  <body>
    {% include topnav.html %}

    <div class="page-content">
        <div class="wrapper">
          No upcoming events 
        </div>
    </div>

    {% include footer.html %}
    {% include js_files.html %}

  </body>

</html>

