---
layout: default
---
<!-- This is a copy of even-announcement.html instantiated with next_event_post -->

<div class="container">
  <div class="row">
    <div class="col-md-8">
      {% include classify-news.html %}
      {% if next_event_post %}
      <article class="post">
	<h1 class="post-title">{{ next_event_post.title }}</h1>
	<h4 class="post-date">
	  Event date: {{ next_event_post.date | date: "%b %-d, %Y" }}
	</h4>
	{{ next_event_post.content }}
      </article>
      {% else %}
      <h3> No upcoming events</h3>
      {% endif %}
    </div>
    <div class="col-md-4">
	{% include event-announcements-sidebar.html %}
    </div>
  </div>

  {% if next_event_post.flyer %}
  <div class="row">
    <div class="col-md-12">
      <img src="{{ next_event_post.flyer }}" alt="Flyer" class="img-responsive">
    </div>
  </div>
  {% endif %}
</div>
