---
layout: empty
---
<html>
  <head>
    {% include classify-event-announcements.html %}
    {% if next-event-post %}
    <meta http-equiv="Refresh" content="0; url={{ next-event-post.url }}">
    {% else %}
    {% include head.html %}
  {% endif %}
  </head>

  <body>
    {% include topnav.html %}

    <div class="page-content">
        <div class="wrapper">
	  <div class="container">
	    <div class="row">
	      <div class="col-md-12">
		<h3> No upcoming events planned - have a look
		at <a href="{% link past-events/index.html %}">past events</a>
		  instead?
		  </h3>
              </div>
	    </div>
	  </div>
	</div>
    </div>

    {% include footer.html %}
    {% include js_files.html %}

  </body>

</html>

