---
title: Videos
---
<div class="row">
  <div class="col-md-12">
    <h3>Field Flyover Videos</h3>
    </div>
  <div class="col-md-6">
    {% include vimeovideo.html id=94353208 %}
    <p><a href="https://vimeo.com/94353208">N.A.A.S. Open Day - 2014-05-04</a> from <a href="https://vimeo.com/user10994290">RCMedia</a> on <a href="https://vimeo.com">Vimeo</a></p>
  </div>
  <div class="col-md-6">
    {% include vimeovideo.html id=91146147 %}
    <p><a href="https://vimeo.com/91146147">N.A.A.S. Field Flyover</a> from <a href="https://vimeo.com/user10994290">RCMedia</a> on <a href="https://vimeo.com">Vimeo</a></p>
    </div>
  </div>

<div class="row">
  <div class="col-md-12">
    <h3>Videos of Past Events</h3>
    Click <a href="https://www.youtube.com/channel/UCu2pUGqKC1YerR2qKrzbO4A">here</a>
    (external Youtube page)
  </div>

  <div class="col-md-6">
    {% include youtubevideo.html id="0QIubAihcMg" %}
    <p>Air Racing 2018</p>
  </div>

  <div class="col-md-6">
    {% include youtubevideo.html id="Clvp_DC0jyk" %}
    <p>National Electric Flight Rally 2018</p>
  </div>


  <div class="col-md-6">
    {% include youtubevideo.html id="PWoMPPiXA_8" %}
    <p>Mammoth Fly-In 2017</p>
  </div>


  <div class="col-md-6">
    {% include youtubevideo.html id="13fWA_EVSpg" %}
    <p>F5J Competition 2017</p>
  </div>


  <div class="col-md-6">
    {% include youtubevideo.html id="PrC7KDytfvw" %}
    <p>Air Racing 2017</p>
  </div>


  <div class="col-md-6">
    {% include youtubevideo.html id="5W57OWMgP-c" %}
    <p>Aerotow 2017</p>
  </div>
  
</div>
