{% assign now_epoch = "now" | date: "%s" %}
{% assign future_event_news = "" | split: ' ' %}
{% assign past_event_news = "" | split: ' ' %}
{% for post in site.event-announcements  %}
{% assign event_date_epoch = post.date | date: "%s" %}
{% if event_date_epoch >= now_epoch %}
{% assign future_event_news = future_event_news | push: post %}
{% else %}
{% assign past_event_news = past_event_news | push: post %}
{% endif %}
{% endfor %}
{% assign future_event_news = future_event_news | sortby: "date" %}
{% assign past_event_news = past_event_news | sortby: "date" | reverse %}
{% assign next_event_post = future_event_news.first %}


