
<div class="sidebar" data-spy="affix" data-offset-top="100">
<h4>UPCOMING EVENTS</h4>
{% include classify-event-announcements.html %}

<ul class="list-unstyled post-list-container">
  {% for post in upcoming-event-announcements %}
  <li>
      <span>
	<a {% if post.url == page.url %} class="active" {% endif %}
	   href="{{ post.url }}">
	  {{ post.title }}
	  {% if next-event-post.url == post.url %}
	  &nbsp;<span class="badge"><smaller>Next</smaller></span>
	  {% endif %}
	</a>
	<time class="pull-right">
	  {{ post.date | date: "%b %-d, %Y" }}
	</time>
      </span>
  </li>
  {% endfor %}
</ul>
</div>
