<style>
  .image-gallery {overflow: auto; margin-left: -1%!important;}
  .image-gallery a {float: left; display: block; margin: 0 0 1% 1%; width: 19%; text-align: center; text-decoration: none!important;}
  .image-gallery a span {display: block; text-overflow: ellipsis; overflow: hidden; white-space: nowrap; padding: 3px 0;}
  .image-gallery a img {width: 100%; display: block;}
</style>

<!-- The Gallery as lightbox dialog, should be a child element of the document body -->
<div id="blueimp-gallery-{{include.ident}}" class="blueimp-gallery">
    <div class="slides"></div>
    <h3 class="title"></h3>
    <a class="prev">‹</a>
    <a class="next">›</a>
    <a class="close">×</a>
    <a class="play-pause"></a>
    <ol class="indicator"></ol>
</div>

(Click on a photo to enlarge, then click again for navigation menu)

<div class="image-gallery">
  <div id="{{include.ident}}">
    {% assign include_dir_small = include.folder | append: "/small" %}
    {% for file in site.static_files %}
    {% assign file_dir =  file.path | split: "/" | pop | join: "/" %}
    {% if file_dir == include_dir_small %}
    {% if file.extname == '.jpg' or file.extname == '.jpeg' or file.extname == '.JPG' or file.extname == '.JPEG' %}
    {% assign base = file.path | split: "/" | last %}
    {% assign base_no_ext = base | replace: file.extname,"" %}

    {% assign file_small = file.path %}
    {% assign file_medium = file.path | replace: "/small/","/medium/" %}
<a href="{{ file_medium }}" title="{{ base_no_ext }}">
<img src="{{ file_small }}" width="200" />
</a>

   {% comment %}
   <p> file_dir = {{ file_dir }} -- file.path = {{ file.path }} --
   include.folder = {{ include.folder }} -- include_dir_small = {{ include_dir_small }} --
     file_small = {{ file_small }} --
     file_medium = {{ file_medium }}
   </p>
<a href="{{ sub_dir }}/medium/{{ base }}" title="{{ base_no_ext }}"> 
        <img src="{{ sub_dir }}/small/{{ base }}" width="200" /> 
</a>

    {% endcomment %}
    {% endif %}
  {% endif %}
{% endfor %}
</div>
</div>

<script>
document.getElementById('{{include.ident}}').onclick = function (event) {
    event = event || window.event;
    var target = event.target || event.srcElement,
        link = target.src ? target.parentNode : target,
        options = {index: link, event: event, container: '#blueimp-gallery-{{include.ident}}'},
        links = this.getElementsByTagName('a');
    blueimp.Gallery(links, options);
};
</script>


