
<div class="sidebar" data-spy="affix" data-offset-top="0">
  {% include classify-past-events.html %}

  {% assign parts = page.path | split: '/' %}
  {% assign dir = parts | pop %}
  {% assign file = parts | last %}
  {% assign base = file | split: '.' | first %}
  {% assign ext = file | split: '.' | last %}
  {% if base == 'index-year' %}
  {% assign by_year = true %}
  {% assign alternate = page.url | replace: "index-year", "index" %}
  {% else %}
  {% assign by_year = false %}
  {% assign alternate = page.url | append: "index-year.html" %}
  {% endif %}
  
<h4>PAST EVENTS</h4>

  {% if by_year %}
  
  <p> <a href="{{ alternate }} ">by name</a> / by year</p>

  {% for g in grouped_by_year %}
  <h5><strong>{{ g.name }}</strong></h5>
  <ul class="list-unstyled post-list-container">
    {% assign items_sorted = g.items | sort: 'title' %}
    {% for p in items_sorted %}
    {% assign p_url = p.url | append: "index-year.html" %}
    <li>
      &nbsp;&nbsp;&nbsp;<a href="{{ p_url }}" {% if p_url == page.url %} class="active" {% endif %}>
	{{ p.title }}
      </a>
    </li>
    {% endfor %}
  </ul>
  {% endfor %}

  {% else %}

  <p>by name / <a href="{{ alternate }} ">by year</a></p>
  
  {% for g in grouped %}
  <h5><strong>{{ g.name }}</strong></h5>
  <ul class="list-unstyled post-list-container">
    {% assign items_sorted = g.items | sort: 'date' | reverse %}
    {% for p in items_sorted %}
    <li>
      &nbsp;&nbsp;&nbsp;<a href="{{ p.url }}" {% if p.url == page.url %} class="active" {% endif %}>
	{{ p.date | date: "%b %Y" }}
      </a>
    </li>
    {% endfor %}
  </ul>
  {% endfor %}

  {% endif %}


</div>
