---
layout: default
---
<div class="container">
  <div class="row">
    <div class="col-md-9">
      <h1>{{ page.title }}</h1>
      <h4> {% include date-range.html start=page.date end=page.end-date %} </h4>
      <div id="markdown-content-container">{{ content }}</div>
      {% if page.youtube-id %}
      <h2>Video</h2>
      {% include youtubevideo.html id=page.youtube-id %}
      {% endif %}


      {% include images-list.html subdir="img"%}
      {% if imgs-list.size > 0 %}
      <h2>Photo Gallery</h2>
      {% include image-gallery-from-subdir.html ident="links" subdir="img" %}
      {% endif %}

    </div>
    <div class="col-md-3">
      {% include past-events-sidebar.html %}
    </div>
  </div>
</div>


