---
layout: default
---
<div class="container">
  <div class="row">
    <div class="col-md-9">
      <h1>{{ page.title }}</h1>
      <h4>{{ page.date | date: "%b %-d, %Y" }}</h4>
      <div id="markdown-content-container">{{ content }}</div>
      {% if page.youtube-id %}
      <h2>Video</h2>
      {% include youtubevideo.html id=page.youtube-id %}
      {% endif %}

      {% include images-list.html %}
      {% if imgs-list.size > 0 %}
      <h2>Photo Gallery</h2>
      {% for file in imgs-list %}
      <img src="{{ file }}" alt="image" class="img-responsive"/>
      {% endfor %}
      {% endif %}
    </div>
    <div class="col-md-3">
      {% include past-events-sidebar.html %}
    </div>
  </div>
</div>


