---
layout: page
---

<h1>About</h1>

<p>The <em>National Aeromodelling and Aviators Society</em>, N.A.A.S.,
is a remote control model aircraft club and facility located in the beautiful   
NAAS valley in the Namadgi National park in Canberra A.C.T Australia.
  N.A.A.S. was founded in 2013.


<p>
  N.A.A.S is associated with the ACTAA (ACT Model aeronautical Association) and
the <a href="https://www.maaa.asn.au">MAAA</a> (Model Aeronautical Association of Australia), the
governing body for aeromodelling in Australia, and it is affiliated to the FAI
through the Australian Sports Aviation Confederation.
</p>

<h4>Goals</h4>
<p>
  Our main goal has always been to ensure that our field facilities provide
  the best opportunities for the enjoyment and safe flying of larger scale
  aircraft and special interest groups. This is achieved through a
  strong community of like minded, enthusiastic, skilled and energetic group
  of members.
</p>

<h4>NAAS is a feeling</h4>
<ul>
<li>NAAS is about people, young and old, and their beautiful flying machines.</li>
<li>NAAS is about friendships, team work, supporting community and good times.</li>
<li>NAAS is about enjoyment, passion, commitment, aptitude, skill, knowledge and experience.</li>
</ul>

<h4>Passions</h4>
<p>
Our members are a dedicated and focused group of extremely active aeromodellers ranging in age from 10 years up to over 70 year of age.
They represent a variety of passions in the hobby, such as:</p>

<ul>
<li>Scale models: building (from scratch) and flying, predominantly WW1</li>
<li>Aerobatics: IMAC and 3D</li>
<li>Gliders and gliding</li>
<li>ARFs and recreational ("sport") flying </li>
<li>FPV</li>
<li>Organizing events</li>
</ul>

<h3 id="videos-photos">Video and Photo Gallery</h3>
<p>The following videos and photos should give you an impression of what
  N.A.A.S. is about. See our <a href="/past-events/index.html">past events</a>
  for more photos and videos.</p>


<h4>At The Field - Videos</h4>
<div class="row">
    <div class="col-md-6">
      <div style="padding:56.25% 0 0 0;position:relative;"><iframe src="https://player.vimeo.com/video/94353208" style="position:absolute;top:0;left:0;width:100%;height:100%;" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe></div><script src="https://player.vimeo.com/api/player.js"></script>
      <p><a href="https://vimeo.com/94353208">NAAS Open Day - 2014-05-04</a>
	from <a href="https://vimeo.com/user10994290">RCMedia</a>
	on <a href="https://vimeo.com">Vimeo</a>.</p>
      </div>
    <div class="col-md-6">
      <div style="padding:56.25% 0 0 0;position:relative;"><iframe src="https://player.vimeo.com/video/91146147" style="position:absolute;top:0;left:0;width:100%;height:100%;" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe></div><script src="https://player.vimeo.com/api/player.js"></script>
<p><a href="https://vimeo.com/91146147">NAAS Field Flyover</a>
from <a href="https://vimeo.com/user10994290">RCMedia</a>
  on <a href="https://vimeo.com">Vimeo</a>.</p>
    </div>
  </div>

<h4>At The Field - Photos</h4>
{% include image-gallery-from-subdir.html subdir="gallery-img" ident="gallery" %}


<h4>In the Workshop</h4>
{% include image-gallery-from-subdir.html subdir="in-the-workshop-img" ident="workshop" %}

<h4>In the Air</h4>
{% include image-gallery-from-subdir.html subdir="in-the-air-img" ident="air" %}

